<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
    <booleanAttribute key="M2_BATCH" value="false"/>
    <stringAttribute key="M2_GOALS" value="-U archetype:generate"/>
    <listAttribute key="M2_PROPERTIES">
        <listEntry value="projectName=Basic Maven Project"/>
        <listEntry value="projectDescription=A Maven project created from the library archetype."/>
        <listEntry value="developerId=bmg"/>
        <listEntry value="developerName=Bernardo Martínez Garrido"/>
        <listEntry value="developerMail=programming@wandrell.com"/>
        <listEntry value="developerUrl=https://github.com/Bernardo-MG"/>
        <listEntry value="repoUserId=bernardo-mg"/>
        <listEntry value="siteRelease=docs.wandrell.com"/>
        <listEntry value="siteDevelop=docs.wandrell.com"/>
        <listEntry value="archetypeGroupId=com.wandrell.maven.archetypes"/>
        <listEntry value="archetypeArtifactId=library"/>
        <listEntry value="archetypeVersion=0.3.2"/>
        <listEntry value="groupId=sravani1"/>
        <listEntry value="artifactId=rvr"/>
        <listEntry value="version=0.0.1-SNAPSHOT"/>
        <listEntry value="package=sravani1.rvr"/>
        <listEntry value="outputDirectory=C:\Users\Vamshi\eclipse-workspace"/>
    </listAttribute>
    <booleanAttribute key="M2_SAVE_BEFORE_LAUNCH" value="false"/>
    <booleanAttribute key="org.eclipse.debug.ui.private" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="C:\Users\Vamshi\AppData\Local\Temp\m2e-archetypeGenerator12991586201105002453"/>
</launchConfiguration>
